<div class="paragraph paragraph--our-group">
  <div class="our-group__content">
    <div class="our-group__title">
      {{ content.field_group_title }}
    </div>
    <div class="our-group__description">
      {{ content.field_group_description }}
    </div>
  </div>
  <div class="our-group__image">
    {{ content.field_group_image }}
  </div>
</div>
