<div class="paragraph paragraph--slider">
  <div class="slider__title">
    {{ content.field_slider_title }}
  </div>
  <div class="slider__description">
    {{ content.field_slider_description }}
  </div>
  <div class="slider__image">
    {{ content.field_slider_image }}
  </div>
  <div class="slider__link">
    {{ content.field_slider_link }}
  </div>
</div>
