<div class="paragraph paragraph--testimonial">
  <h2 class="testimonial__heading">What they say about US</h2>
  <div class="testimonial__cards">
    <div class="testimonial-card">
      <div class="testimonial-card__image">
        {{ content.field_testimonial_image }}
      </div>
      <div class="testimonial-card__body">
        <div class="testimonial-card__title">
          {{ content.field_testimonial_title }}
        </div>
        <div class="testimonial-card__description">
          {{ content.field_testimonial_description }}
        </div>
      </div>
    </div>
  </div>
</div>
