<div class="hello-preprocess">

  {% if is_front %}
    <p>Vous êtes sur la page d'accueil</p>
  {% else %}
    <p>Vous n'êtes PAS sur la page d'accueil</p>
  {% endif %}

  <h1>Hello, {{ hello_name }} !</h1>
  <p>Route active : hello_world.hello_preprocess</p>

</div>